<div class="home-container">
  <h1>Bienvenido a ProductStoreApp</h1>
  <p>Bienvenido a ProductStoreApp, tu destino ideal para descubrir la mejor selección de productos Apple.
    Nos apasiona ofrecerte dispositivos elegantes, innovadores y de alto rendimiento, que combinan a la perfección calidad, diseño y funcionalidad. En nuestra tienda encontrarás desde los últimos iPhone, MacBook y Airpods, hasta accesorios cuidadosamente seleccionados para potenciar tu experiencia tecnológica.
    
    Nuestro objetivo es sencillo: acercarte a la tecnología que amas, brindándote asesoría personalizada, confianza y garantía en cada compra.</p>
  <button routerLink="/products">Explorar Productos</button>
</div>
